/* Tipografia Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #131313;
}
.header-home{
    margin-left: 5%;
    width: 70% ;
    height: 20rem;
}
h1{
    font-family: 'Raleway';
    font-weight: 300;
    color: #FFFFFF;
    font-size: 4rem;
}
.language-name{
    font-size: 7rem;
    font-weight: 600;
    color: rgb(211, 63, 63);
}
#G{
    width: 5rem;
    margin-left: 3rem;
}
form{
    width: 25rem;
}
.article-home{
    width: 100%;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.forms{
    width: 90%;
    height: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.col-1, .col-2{
    margin-right: 10rem;
}

footer{
    height: 10rem;
    display: flex;
    align-items: center;
}
.logo-garrick{
    height: 10rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.github{
    height: 2rem;
    width: 100%;
    display: flex;
}
.victor,.jesus{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.gtb{
    width: 40px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 200;
    
}
.name{
    font-family: 'Roboto';
    font-weight: 500;
    color: #FFFFFF;
}


